<!DOCTYPE html>
<html>
  <head>
    <title>Ugly Statues</title>
    <%= csrf_meta_tags %>
    <!-- responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- To change the favicon of the page -->
    <% favicon_link_tag 'statue_favicon.ico' %>
    <link href="/assets/statue_favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
